.add__password {
    display: flex;
    align-items: center;
    width: 94%;
    border-bottom: 1px solid lightgrey;

    span {
        margin-left: 15px;
    }

    .add__site,
    .add__username,
    .add__password-name {
        display: flex;
        flex-direction: column;
    }

    .add-btn {
        margin-left: auto;
        font-size: 15px;
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 100%;
        background-color: rgb(24, 143, 255);
    }

    .add-btn:hover {
        background-color: rgb(21, 119, 211);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}