.pass-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    padding-bottom: 15px;
    min-width: 750px;
    border: 1px solid lightgrey;
    border-radius: 6px;

    input {
        margin-left: 15px;
        padding: 7px 7px 7px 0;
        height: 25px;
        border: none;
    }

    .pass-title {
        margin-top: 45px;
        font-size: 24px;
        color: rgb(167, 167, 167);
    }

    .pass-data {
        display: flex;
        align-items: center;
        height: 50px;
        margin-top: 10px;
        width: 94%;
        margin-bottom: 10px;
        border-bottom: 1px solid lightgrey;
    }

    .btn {
        margin-left: auto;
        margin-bottom: 5px;
        font-size: 15px;
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 100%;
        background-color: rgb(24, 143, 255);
    }

    .not-edit {
        margin-left: auto;
        margin-bottom: 5px;
        font-size: 15px;
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 100%;
        background-color: rgb(24, 143, 255);
    }

    .btn:hover {
        background-color: rgb(21, 119, 211);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .save__change-btn {
        margin-top: -58px;
        margin-right: 77px;
    }
}